<div class="row">
    <div class="col l4 m5 s12">
        <div class="card">
            <div class="card-content">
                <div class="row">

                    <input id="competitionId" type="hidden" value="<%= competition._id %>" />

                    <div class="input-field col s12">
                        <input readonly id="competitionName" type="text" value="<%=competition.name %>">
                        <label for="competitionName">Tävlingsnamn</label>
                    </div>

                    <div class="input-field col s12">
                        <input readonly id="competitionDate" type="text" value="<%= competition.date ? competition.date.split('T')[0] : '' %>">
                        <label for="competitionDate">Datum</label>
                    </div>

                    <div class="input-field col s12">
                        <%var options = [ "Damer", "Herrar", "Mix" ]; %>
                        <input readonly type="text" value="<%= options[competition.gender] %>" id="competitionGender" />
                        <label for="competitionGender">Kön / Mix</label>
                    </div>

                    <div class="input-field col s12">
                        <%var options2 = [ "A", "B", "C", "Internationell" ]; %>
                        <input readonly type="text" value="<%= options2[Number(competition.ageGroup)] %>" id="competitionAgeGroup" />
                        <label for="competitionAgeGroup">Klass</label>
                    </div>

                    <div class="input-field col s12">
                        <input readonly type="text" value="<%= competition.height %> m" id="competitionHeight" />
                        <label for="competitionHeight">Höjd</label>
                    </div>

                    <div class="input-field col s12">
                        <input readonly id="competitionRounds" type="text" value="<%=competition.rounds %>" />
                        <label for="competitionRounds" class="active">Omgångar</label>
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <button class="btn green" type="button" id="joinCompetition">Anslut till tävlingen</button>
            </div>
        </div>
    </div>
    <div class="col l8 m7 s12">

        <div class="card" id="judge-jump" style="display: none;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col s12 m12 l6">
                        <h2 style="
    font-size: 16px;
    display: block;
    line-height: 36px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(160,160,160,0.2);
    padding: 5px 10px;
">
                            Hopp att bedömma<br /><span id="code" style="font-size: 36px;"></span>
                        </h2>
                    </div>
                    <div class="center-align col s12 m12 l6">
                        <a class="btn-floating btn-large waves-effect waves-light green" id="up1" style="
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
">
                            <i class="material-icons">add</i>
                        </a>
                        <a class="btn-floating btn-large waves-effect waves-light green lighten-2" id="up05" style="border-bottom-left-radius: 0;
    border-top-left-radius: 0;">
                            <i class="material-icons">add</i>
                        </a>

                        <p id="points">0.0</p>

                        <a class="btn-floating btn-large waves-effect waves-light red" id="down1" style="
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
">
                            <i class="material-icons">remove</i>
                        </a>
                        <a class="btn-floating btn-large waves-effect waves-light red lighten-2" id="down05" style="border-bottom-left-radius: 0;
    border-top-left-radius: 0;">
                            <i class="material-icons">remove</i>
                        </a>
                    </div>
                </div>
            </div>
                <div class="card-action right-align">
                    <a class="waves-effect waves-light btn blue" id="sendScore"><i class="material-icons right">send</i>Skicka poäng</a>
                </div>
            
           
        </div>

        <div class="card" id="judge-waiting" style="display: none;">
            <div class="card-content">
                <h4 style="text-align:center;">Väntar på hopp att bedömma</h4>
                <div class="progress blue lighten-5" style="width: 70%; margin:0 auto;">
                    <div class="indeterminate blue"></div>
                </div>
            </div>
        </div>

        <div id="competitionFinished" class="card" style="display: none;">
            <div class="card-content">
                <p>Tack för din medverkan.</p>
                <a class="waves-effect waves-light btn red" href="/competitions" id="exitCompetition">Avsluta</a>
            </div>
        </div>
        </div>
</div>