<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="userName" type="text" value="<%= (typeof userinfo != 'undefined' ? userinfo.name : '') %>" />
                        <label for="userName">Namn</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="userBirthdate" type="text" value="<%= (typeof userinfo != 'undefined' ? userinfo.birthdate : '') %>">
                        <label for="userBirthdate">Födelsedatum</label>
                    </div>
                    <div class="input-field col s12">
                        <select id="userGender">
                            <option value="" disabled selected>Klicka för att välja</option><%
                            var options = [ "Kvinna", "Man", "Attackhelikopter" ];
                            for ( var i = 0; i < options.length; i++ )
                            {
                            var selected = "";
                            if( typeof userinfo != 'undefined') {
                            selected = (userinfo.gender == i ) ? "selected" : "";
                            }
                            %>
                            <option value="<%=i %>" <%=selected %>><%=options[i] %></option><%
                            }
                            %>
                        </select>
                        <label for="competitionGender">Kön</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="userClub" type="text" value="<%= (typeof userinfo != 'undefined' ? userinfo.club : '') %>">
                        <label for="userClub">Klubb</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="userPhone" type="text" value="<%= (typeof userinfo != 'undefined' ? userinfo.phonenumber : '') %>">
                        <label for="userPhone">Telefonnummer</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="userEmail" type="text" value="<%= (typeof userinfo != 'undefined' ? userinfo.email : '') %>">
                        <label for="userEmail">Epost</label>
                    </div>
                    <div class="col s12">
                        <input type="button" value="Spara ändringar" id="userSaveProfile" class="btn blue right" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Ändra lösenord
                </span>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="oldPassword" />
                        <label for="oldPassword">Nuvarande lösenord</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="password" id="newPassword" />
                        <label for="newPassword">Nytt lösenord</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="password" id="repeatPassword" />
                        <label for="repeatPassword">Repetera lösenord</label>
                    </div>
                    <div class="col s12">
                        <input type="button" value="Ändra lösenord" id="userChangePassword" class="btn red darken-2 right" />
                    </div>
                </div>

            </div>
        </div>

        <% if(user.userlevel === 2) { %>
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Alternativ
                </span>
                <div class="row">
                    <div class="input-field col s12">
                        <select id="userlevel">
                            <option value="" disabled selected>Klicka för att välja</option><%
                            var options = [ "Deltagare", "Domare", "Admin" ];
                            for ( var i = 0; i < options.length; i++ )
                            {
                            var selected = ( userinfo.userlevel == i ) ? "selected" : "";
                            %>
                            <option value="<%=i %>" <%=selected %>><%=options[i] %></option><%
                            }
                            %>
                        </select>
                        <label for="userlevel">Användarnivå</label>
                    </div>

                    <div class="col s12">
                        <input type="button" value="Uppdatera behörighet" id="userChangeLevel" class="btn green darken-2 right" />
                    </div>
                </div>

            </div>
        </div>
        <% } %>
        

    </div>
</div>

